@use "mixins" as m;
@use "palette" as p;

.search {
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    &__form {
        &__input {
            &:hover {
                @include m.light {
                    background-color: map-get(
                        p.$light-theme-colors,
                        quaternary
                    );
                }
                @include m.dark {
                    background-color: map-get(p.$dark-theme-colors, quaternary);
                }
            }
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 10px;
    }
}
